body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

.meals
  font-size: 2em
  line-height: 2em
  padding: 10px

.meal
  transition: background-color 250ms

  &:hover
    background-color: #A0F2F2
